<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adopciones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<style>
    .notification-error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>

<div th:if="${error}" class="notification-error">
    <strong>Error:</strong> <span th:text="${error}"></span>
</div>



<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <!-- Imagen de logo al lado del nombre -->
            <img src="/img/PetShop-SInFondo.png" alt="Logo" style="max-height: 100px; margin-right: 100px;">

            <strong>🐾 Tienda de Mascotas</strong>
        </a>

        <!-- Botón para dispositivos móviles -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <!--- imagenes  --->

    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/Adoptar">Adoptar Mascotas</a>
            <a class="navbar-item" href="pages/clientes">Registro de Adopciones</a>
        </div>
    </div>
</nav>

        <h3 class="title is-4 has-text-centered">Registrar Carnet</h3>
        <div class="box">
            <form th:action="@{/pages/carnet}" method="post" th:object="${carnet}">
                <input  th:fieldvalue="${carnet.id}" class="input" type="text" name="id">
                <div class="field">
                    <label class="label">Fecha Carnet:</label>
                    <div class="control">
                        <input th:field="*{fechaCertificado}" class="input" type="date" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Fecha Vacunas:</label>
                    <div class="control">
                        <input th:field="*{fechaVacunas}" class="input" type="date" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Lista de Mascotas:</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select th:field="*{mascota.id}">
                                <option th:each="mascota : ${mascotas}"
                                        th:value="${mascota.id}"
                                        th:text="${mascota.nombre}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field has-text-centered">
                    <button type="submit" class="button is-success">Registrar Carnet</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script th:if="${error}">
    alert([[${error}]]);
</script>


</body>
</html>
