<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <!-- Imagen de logo al lado del nombre -->
            <img src="/img/PetShop-SInFondo.png" alt="Logo" style="max-height: 100px; margin-right: 100px;">

            <strong>🐾 Tienda de Mascotas</strong>
        </a>

        <!-- Botón para dispositivos móviles -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <!--- imagenes  --->

    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/Adoptar">Adoptar Mascotas</a>
            <a class="navbar-item" href="pages/clientes">Registro de Adopciones</a>
        </div>
    </div>
</nav>

<div th:if="${error}" class="notification-error">
    <strong>Error:</strong> <span th:text="${error}"></span>
</div>

<section class="section">
    <div class="container">
        <h3 class="title is-4">Agregar Cliente</h3>
        <div class="box">
            <form th:action="@{/clientes/guardar}" method="post" th:object="${clientes}">
                <input  th:fieldvalue="${clientes.id}" class="input hidden" type="hidden" name="id">

                <input type="hidden" name="origin" th:value="${origin}" class=" hidden text-black"/>

                <div class="field">
                    <label class="label">Cedula</label>
                    <div class="control">
                        <input  th:fieldvalue="${clientes.cedula}" class="input" type="text" name="Cedula" placeholder="Ingrese Cedula" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Nombre</label>
                    <div class="control">
                        <input  th:fieldvalue="${clientes.nombre}" class="input" type="text" name="nombre" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Teléfono</label>
                    <div class="control">
                        <input th:fieldvalue="${clientes.telefono}"    class="input" type="text" name="telefono" placeholder="Teléfono">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input th:fieldvalue="${clientes.email}"  class="input" type="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script th:if="${error}">
    alert([[${error}]]);
</script>
</body>
</html>
