

<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mascotas</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <!-- Imagen de logo al lado del nombre -->
            <img src="/img/PetShop-SInFondo.png" alt="Logo" style="max-height: 100px; margin-right: 100px;">

            <strong>🐾 Tienda de Mascotas</strong>
        </a>

        <!-- Botón para dispositivos móviles -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <!--- imagenes  --->

    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/Adoptar">Adoptar Mascotas</a>
            <a class="navbar-item" href="pages/clientes">Registro de Adopciones</a>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">

        <h2 class="title has-text-centered">Lista de Mascotas</h2>

        <!-- Formulario para agregar mascota -->
        <h3 class="title is-4 has-text-centered">Registro de  Mascota</h3>

        <form th:action="@{/pages/mascotas}" method="post" class="box" th:object="${mascota}">
            <input  th:fieldvalue="${mascota.id}" class="input" type="hidden" name="id">

            <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                    <input  th:fieldvalue="${mascota.nombre}" class="input" type="text" name="nombre" placeholder="Nombre">
                </div>
            </div>

            <div class="field">
                <label class="label">Especie</label>
                <div class="control">
                    <input  th:fieldvalue="${mascota.especie}" class="input" type="text" name="especie" placeholder="Especie" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Raza</label>
                <div class="control">
                    <input   th:fieldvalue="${mascota.raza}" class="input" type="text" name="raza" placeholder="Raza">
                </div>
            </div>

            <div class="field">
                <label class="label">Edad</label>
                <div class="control">
                    <input  th:fieldvalue="${mascota.edad}" class="input" type="number" name="edad" placeholder="Edad">
                </div>
            </div>

            <div class="control has-text-centered">
                <button class="button is-primary">Guardar</button>
            </div>
        </form>

    </div>
</section>

</body>
</html>

