@import 'bulma';

/* en estilo.css */
body {
  background-color: #f4f7f6; /* Fondo claro */
  font-family: 'Arial', sans-serif;
}

.container {
  margin-top: 50px;
}

.title {
  color: #FF6347; /* Color personalizado */
  text-align: center;
}
